.header__container{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.fila{
    display: flex;
    justify-content: space-between;
    width: 97%;
}
.columna{
    display: flex;
    width: 400px;
}
.texthead{
    padding: 0 7px;
    font-size: 14px;
}
.navbar__container{
    margin-top: 35px;
}
.nav{
    display: flex;
    width: 81%;
    margin-left: 18vw;
}
.textNav{
    padding: 0 20px;
    font-weight: bold;
    color: rgb(57, 57, 57);
}
.busqueda{
    margin: auto 0;
    margin-left: 70px;
}
.footer__container{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #E4E4E4;
    display: flex;
    justify-content: center;
}
.filaFooter{
    display: flex;
    justify-content: space-between;
}
.columnaFooter{
    width: 13vw;
}
footer{
    width: 60%;
}
.columnaFooter p{
    font-size: 13px;
    color: rgb(57, 57, 57);
}
.textoAbajo{
    margin-top: 50px;
    text-align: center;
}
.textoAbajo p{
    font-size: 14px;
}