.header__container{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.fila{
    display: flex;
    justify-content: space-between;
    width: 97%;
}
.columna{
    display: flex;
    width: 400px;
}
.texthead{
    padding: 0 7px;
    font-size: 14px;
}
.navbar__container{
    margin-top: 35px;
}
.nav{
    display: flex;
    width: 81%;
    margin-left: 18vw;
}
.textNav{
    padding: 0 20px;
    font-weight: bold;
    color: rgb(57, 57, 57);
}
.busqueda{
    margin: auto 0;
    margin-left: 70px;
}
.footer__container{
    width: 100%;
    background-color: #E4E4E4;
    display: flex;
    justify-content: center;
}
.filaFooter{
    display: flex;
    justify-content: space-between;
}
.columnaFooter{
    width: 13vw;
}
footer{
    width: 60%;
}
.columnaFooter p{
    font-size: 13px;
    color: rgb(57, 57, 57);
}
.textoAbajo{
    margin-top: 50px;
    text-align: center;
}
.textoAbajo p{
    font-size: 14px;
}
.textos__container{
    display: flex;
    justify-content: center;
}
.textos{
    display: flex;
    justify-content: space-between;
    width: 49%;
}
.boton{
    border: none;
    background-color: #ffffff;
    padding: 7px 10px;
    font-size: 17px;
}
.boton:hover{
    background-color: #c4c4c4;
}
.imgSecciones__container{
    position: relative;
    display: flex;
    justify-content: center;
    height: 20vw;
}
.botones__container button{
    margin: 0 4px;
}
.imgSeccionArena{
    width: 70%;
    height: 170px;
    object-fit: cover;
}
.imgSecciones{
    text-align: center;
    width: 70%;
    position: absolute;
    height: 150px;
    top: -7px;
}
.imgBig__container{
    margin: 65px 0;
    position: relative;
    display: flex;
    justify-content: center;
    height: 37vw;
    background-color: red;
}
.img_Big{
    width: 70%;
    height: auto;
    object-fit: cover;
}
.imgBig{
    text-align: center;
    width: 70%;
    position: absolute;
    height: 150px;
    bottom: 70px; 
    color: #ffffff;
}
.imgBig p{
    margin-top: -25px;
    font-size: 20px;
}
.imgBig h1{
    font-size: 45px;
}